# Core Django Framework
Django>=4.2,<6.0
asgiref>=3.7
sqlparse>=0.4

# Authentication
django-allauth>=0.61

# REQUIRED for Google social login
requests>=2.31.0

# Image Processing
pillow>=10.0

# Production Server
gunicorn>=21.2

# Static Files
whitenoise>=6.6

# Database
dj-database-url>=2.1
psycopg2-binary>=2.9


PyJWT>=2.8.0

